:root {
    --font-family: "Iosevka Nerd Font 14";
    --bg-dark: #1d2021;
    --bg-normal: #3c3836;
    --fg-focus: #ebdbb2;
    --fg-normal: #b8bb26;

    --red: #fb4934;
    --orange: #fe8019;
    --yellow: #fabd2f;
    --green: #b8bb26;
    --cyan: #8ec07c;
    --blue: #83a598;
    --purple: #d3869b;
    --brown: #d65d0e;
}

.theme-dark {
    --text-normal: var(--green);
    --text-muted: var(--fg-normal);

    --header-primary: var(--orange);
    --header-secondary: var(--fg-focus);

    --background-primary: var(--bg-dark);
    --background-secondary: var(--bg-normal);
    --background-secondary-alt: var(--bg-dark);
    --background-tertiary: var(--bg-dark);
    --background-accent: var(--fg-normal);
    --background-floating: var(--bg-normal);
    --deprecated-store-bg: var(--bg-normal);
    --activity-card-background: var(--bg-dark);
    --deprecated-panel-background: var(--bg-dark);
    --background-modifier-selected: var(--bg-dark);
    --background-message-hover: var(--bg-dark);

    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --background-modifier-hover: rgba(79, 84, 92, 0.16);
    --background-modifier-active: rgba(79, 84, 92, 0.24);
    --background-modifier-accent: rgba(0, 0, 0, 0);

    --interactive-normal: var(--orange);
    --interactive-hover: var(--blue);
    --interactive-active: var(--purple);
    --interactive-muted: #666666;

    --channels-default: var(--yellow);
    --channeltextarea-background: var(--bg-normal);

    --scrollbar-thin-thumb: var(--fg-normal);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--fg-normal);
}

[class*="partyMembers"] {
    box-shadow: 0 0 0px !important;
}

/* Removes welcome sticker button */
[class*="welcome"] {
    visibility: hidden;
    height: 0px;
}

/* Font Settings */
* {
    font-family: "Iosevka Nerd Font" !important;
}

[class*="sidebar"] [class*="containerDefault"] [class*="mainContent"] {
    height: 28px !important;
}

[class*="sidebar"] [class*="containerDefault"] [class*="mainContent"] > * {
    font-size: 14px !important;
}

[class*="messageContent"] {
    font-size: 16px !important;
    margin-top: 0px;
}

[class*="emoji"] {
    font-size: 105%;
}

[class*="name"] {
    font-size: 14px;
}

[id*="popout"] [class*="container"] ::after,
[id*="popout"] [class*="container"] {
    font-size: 10px !important
}
/* End font settings */

/* General color and shadow configuration */
[class*="comment"] {
    color: #666666;
}

[class*="lookBlank"] {
    color: var(--fg-focus);
}

[class*="newMessagesBar"],
[class*="peopleColumn"],
[class*="folder"][class*="hover"],
[class*="autocompleteRowContent"],
[class*="autocomplete"],
[class*="headerTop"],
[class*="userPopout"] [class*="headerNormal"],
[class*="userPopout"] [class*="body"],
[class*="userPopout"] [class*="footer"] {
    background-color: var(--bg-normal);
}

[class*="base"][class*="selected"][class*="selectable"] {
    background-color: var(--fg-normal) !important;
}

[class*="base"][class*="selected"][class*="selectable"] * {
    background-color: var(--fg-normal) !important;
    color: var(--bg-dark);
}

[class*="headerPlaying"] * {
    background-color: var(--bg-normal) !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-handle,
::-webkit-scrollbar-track-piece {
    border-color: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

[class*="item-3HknzM"] {
    background-color: var(--bg-normal) !important;
    color: var(--fg-normal) !important;
}

[class*="item-3HknzM"] [class*="ring"] {
    background-color: var(--bg-normal) !important;
    color: var(--fg-normal) !important;
}

[class*="profileBadges"] {
    box-shadow: 0 0 0px !important;
}

[id*="popout"] [class*="container"] {
    background-color: var(--bg-normal);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    color: var(--bg-normal) !important;
}

[class*="popout-APcvZm"] {
    background-color: var(--bg-normal);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

[id*="popout"] [class*="container"] ::after {
    background-image: none !important;
    font-size: 10px !important;
}
